@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #70d8bd;
  border-radius: 0.1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3da58a;
}

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*  background: #535ac8;*/
/*  border-radius: 0.1em;*/
/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*  background: #3e4396;*/
/*}*/
